<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APPLICATION_NAME" value="coupons-server"/>
    <property name="PATH" value="logs"/>
    <property name="PATTERN" value="%date{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{15} [%file:%line] %msg%n"/>

    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PATH}/${APPLICATION_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PATH}/${APPLICATION_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>8</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="infoAppender"/>
    </root>

</configuration>